<div class="col s12 m8 l9 offset-l3 offset-m4 blue section-header z-depth-1">
  <a name="skills"><h3 class="grey-text text-lighten-4">Skills</h3></a>
</div>
<div class="col s12 m8 l9 offset-l3 offset-m4 section-body">
  <div class="col s12">
    <h4>Use Daily</h4>
    <div class="divider"></div>
    <div class="section">
      {% for dskills in site.daily %}
      <div class="card-panel skill-card small">
        <div class="card-image">
          <img src="img/skills/{{ dskills.title }}.jpg"/>
        </div>
        <div class="card-content">
          <h4 class="card-title black-text">{{ dskills.title }}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col s12 l9">
    <h4>Use Often</h4>
    <div class="divider"></div>
    <div class="section">
      {% for oskills in site.often %}
      <div class="card-panel skill-card small">
        <div class="card-image">
          <img src="img/skills/{{ oskills.title }}.jpg"/>
        </div>
        <div class="card-content">
          <h4 class="card-title black-text">{{ oskills.title }}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
